#left_paddle {
    position: absolute;
    top: 50%;
    left: 380px;
    transform: scale(0.5);
}

#right_paddle {
    position: absolute;
    top: 50%;
    left: 580px;
    transform: scale(0.5);
}

#boat {
    position: absolute;
    top: 77%;
    left: 700px;
    transform: scale(2);
}
