.sea {
    position: absolute;
    left: 300px;
    z-index: -1;
    top: -800px;
    height: 1600px;
}

.seaRun {
    position: absolute;
    left: 300px;
    z-index: -1;
    top: -800px;
    height: 1600px;
    animation:seaRun 3s linear infinite;
}

@keyframes seaRun {
    100%{ transform:translateY(800px);}
}