.sea {
    position: absolute;
    z-index: -1;
    top: -650px;
    height: 1500px;
}

.seaRun {
    position: absolute;
    z-index: -1;
    top: -650px;
    height: 1500px;
    animation:seaRun 3s linear infinite;
}

@keyframes seaRun {
    100%{ transform:translateY(700px);}
}