#sea_div {
    width: 600px;
    height: 800px;
    overflow: hidden;
}

#sea {
    position: absolute;
    z-index: -1;
    top: -430px;
    height: 1450px;
    overflow: hidden;
}

@keyframes seaRun {
    100%{ transform:translateY(600px);}
}